body {
  text-align: center;
  line-height: 1.5;
  background-color: lightcyan;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box {
  width: 100%;
  padding: 0.2rem 0.5rem;
  font-family: "Ms Madi", cursive;
  outline: none;
  font-size: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}
